<div class="container">
    <h3>
        <!--<a routerLink="/new-client" [routerLinkActive]="['router-link-active']" >

        </a>-->
          <button mat-raised-button color="primary" (click)="open()">Νέος Πελάτης</button>

    </h3>
    <div>
        <div style="display:flex;position:relative">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <input style=" padding-left: 25px;" name="first" ngModel required #search="ngModel">
                <i style="position: absolute;left: 4px;top: 10px;"
                   class="material-icons">search</i>

                <button class="btn ">
                    <i class="material-icons">search</i>
                </button>
            </form>
        </div>
    </div>
    <mat-checkbox [formControl]="form" [ngModel]="checked" (click)="selectAll($event)">
        select all
    </mat-checkbox>
    <div class="example-container mat-elevation-z8">
        <div class="example-header">
            <mat-form-field floatPlaceholder="never">
                <input matInput #filter placeholder="Filter List" s>
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- ID Column -->
            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="vatNumber">
                <mat-header-cell *matHeaderCellDef> vatNumber</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.vatNumber}}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="companyName">
                <mat-header-cell *matHeaderCellDef> companyName</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.companyName}}</mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="companyTitle">
                <mat-header-cell *matHeaderCellDef> companyTitle</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.companyTitle}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
                <mat-header-cell *matHeaderCellDef> phoneNumber</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.phoneNumber}}</mat-cell>
            </ng-container>
            <!-- Color Column -->
            <ng-container matColumnDef="color">
                <mat-header-cell *matHeaderCellDef> Color</mat-header-cell>
                <mat-cell *matCellDef="let row" > <button mat-button [matMenuTriggerFor]="menu">Actions</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item  (click)="onSelect(row)">Delete</button>
                        <!--<button mat-menu-item>Item 2</button>-->
                    </mat-menu></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
<div class="card-block">

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form>
            <mat-select placeholder="κριτηριο" [(ngModel)]="selectedValue" name="food">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </form>
        <div class="modal-body">
            <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>
</div>

<!--<table class="table table-hover">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>#</th>-->
        <!--<th>First Name</th>-->
        <!--<th>Last Name</th>-->
        <!--<th>ΑΦΜ</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let customer of customerList">-->
        <!--<th scope="row">1</th>-->
        <!--<td>{{customer.companyName}}</td>-->
        <!--<td>{{customer.companyName}}</td>-->
        <!--<td>{{customer.vatNumber}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
