<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="main-container">
    <router-outlet>

        <div style="">
            <img src="/assets/images/anelixis2.png" width=410 height=auto>
        </div>

        <chart type="StockChart" [options]="options"  (load)="saveInstance($event.context)"></chart>
        <div style="display:flex">
            <chart  [options]="options2"  (load)="saveInstance2($event.context)"></chart>

        </div>

        current value : {{ current }}
    </router-outlet>
</section>





