
<form [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm.value)"
      class="ui form">
    <div class="field">
        <label for="companyName">companyName</label>
        <input type="text"
               id="companyName"
               placeholder="companyName"
               name="companyName" [formControl]="myForm.controls['companyName']">
    </div>
    <div class="field">
        <label for="companyTitle">companyTitle</label>
        <input type="text"
               id="companyTitle"
               placeholder="companyTitle"
               name="companyTitle" [formControl]="myForm.controls['companyTitle']">
    </div>
    <div class="field">
        <label for="contactName">contactName</label>
        <input type="text"
               id="contactName"
               placeholder="contactName"
               name="contactName" [formControl]="myForm.controls['contactName']">
    </div>
    <div class="field">
        <label for="vatNumber">ΑΦΜ</label>
        <input type="text"
               id="vatNumber"
               placeholder="vatNumber"
               name="vatNumber" [formControl]="myForm.controls['vatNumber']">
    </div>
    <div class="field">
        <label for="phoneNumber">phoneNumber</label>
        <input type="text"
               id="phoneNumber"
               placeholder="phoneNumber"
               name="phoneNumber" [formControl]="myForm.controls['phoneNumber']">
    </div>
    <div class="field">
        <label for="profession">profession</label>
        <input type="text"
               id="profession"
               placeholder="profession"
               name="profession" [formControl]="myForm.controls['profession']">
    </div>
    <div class="field">
        <label for="notes">notes</label>
        <input type="search"
               id="notes"
               placeholder="notes"
               name="notes" [formControl]="myForm.controls['notes']">
    </div>
    <button type="submit" class="btn btn-primary">Αποθήκευση</button>
</form>
<!--<div class="form-group">-->
    <!--<md-form-field class="example-full-width">-->
        <!--<input-->
            <!--minlength="4"-->


                 <!--[(ngModel)]="model.vatNumber"-->
                 <!--name="vatNumber"-->
                 <!--mdInput-->
                 <!--placeholder="ΑΦΜ"-->
                 <!--value="">-->
    <!--</md-form-field>-->
    <!--<md-form-field class="example-full-width">-->
        <!--<input mdInput-->
               <!--required [(ngModel)]="model.companyName" name="companyName"-->
               <!--placeholder="companyName" value="">-->
    <!--</md-form-field>-->

<!--</div>-->
