
<div class="container">

    <div class="row" style="margin-bottom: 30px">
        <ngx-avatar (mouseenter) ="mouseEnter('div a') " *ngIf="!profile.avatar.fileData" name="{{profile.firstName || 'N'}}s {{profile.lastName || 'U'}}" size="150" [round]="true"></ngx-avatar>
        <ngx-avatar (mouseenter) ="mouseEnter('div a') "   *ngIf="profile.avatar.fileData" src="data:image/jpeg;base64,{{profile.avatar.fileData}}" size="150" [round]="true"></ngx-avatar>
        <mat-icon *ngIf="edit" (click)="clearAvatar()">delete</mat-icon>
    </div>
    <form role="form" #profileForm="ngForm" (ngSubmit)="update(profileForm)" (mouseEnter) ="mouseLeave('div a') ">
        <div class="form-content">
            <div style="display:flex">
                <div class="form-group ">
                    <!--<label>firstName</label>-->
                    <!--<input type="text" #firstName="ngModel" required [(ngModel)]="profile.firstName" name="firstName"-->
                           <!--class="form-control input-underline input-lg" id="" placeholder="firstName">-->
                    <!--<div [hidden]="firstName.valid || firstName.pristine"-->
                    <!--class="alert alert-danger">-->
                        <!--firstName is required-->
                    <!--</div>-->
                    <mat-form-field class="example-full-width">
                        <input #firstName="ngModel" required [(ngModel)]="profile.firstName" name="firstName" matInput placeholder="Ονομα" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Επίθετο"  required [(ngModel)]="profile.lastName" name="lastName" value="">
                    </mat-form-field>
                </div>
            </div>
            <div style="display:flex">
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <input
                                forbiddenName=""
                                 #vatNumber="ngModel"
                                 [(ngModel)]="profile.vatNumber"
                                 name="vatNumber"
                                 matInput
                                 placeholder="ΑΦΜ"
                                 >
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput
                               #amIKA="ngModel"
                               required [(ngModel)]="profile.amIKA" name="amIKA"
                               placeholder="ΑΜΚΑ" value="">
                    </mat-form-field>

                </div>

            </div>
            <div style="display:flex">
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="profile.guideNumber" name="guideNumber" placeholder="guideNumber" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="municipality" [(ngModel)]="profile.municipality"  name="municipality" value="">
                    </mat-form-field>
                    <!--<label>Διεθυνση</label>-->
                    <!--<input type="text" required [(ngModel)]="profile.street" name="street"-->
                    <!--class="form-control input-underline input-lg"-->
                    <!--id="" placeholder="street">-->
                    <!--<div [hidden]="password.valid || password.pristine"-->
                    <!--class="alert alert-danger">-->
                    <!--password is required-->
                    <!--</div>-->
                </div>
                <!--<div class="form<-group">-->
                <!--<label>Αριθμοs</label>-->
                <!--<input type="text" required [(ngModel)]="profile.streetNumber" name="lastName"-->
                <!--class="form-control input-underline input-lg" id="" placeholder="Αριθμός">-->
                <!--&lt;!&ndash;<div [hidden]="password.valid || password.pristine"&ndash;&gt;-->
                <!--&lt;!&ndash;class="alert alert-danger">&ndash;&gt;-->
                <!--&lt;!&ndash;password is required&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            </div>
            <div style="display:flex">
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="profile.street" name="street" placeholder="Διέθυνση" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="profile.streetNumber" placeholder="αρ." value="" name="streetNumber">
                    </mat-form-field>
                    <!--<label>Διεθυνση</label>-->
                    <!--<input type="text" required [(ngModel)]="profile.street" name="street"-->
                           <!--class="form-control input-underline input-lg"-->
                           <!--id="" placeholder="street">-->
                    <!--<div [hidden]="password.valid || password.pristine"-->
                    <!--class="alert alert-danger">-->
                    <!--password is required-->
                    <!--</div>-->
                </div>
            </div>
            <div style="display:flex">
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <input matInput [(ngModel)]="profile.telephone" name="telephone" placeholder="telephone" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="amka" [(ngModel)]="profile.amka"  name="amka" value="">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button type="submit" mat-button style="border: 1px solid;width: 128px;margin-left: 20px;display: inline-block;">Ενημέρωση</button>
        <!--<button type="button" class="btn btn-default" (click)=" signupForm.reset()">New Hero</button>-->
    </form>
    <div class="col-lg-6"  style="display: flex;flex-direction: column;">
        <input type="file" class="" #fileInput placeholder="Upload file..."/>
        <img *ngIf="profile.avatar" height="100" width="100" style="align-self: center;margin-bottom: 100px;"
             class="img rounded img-thumbnail" src="data:image/jpeg;base64,{{profile.avatar.fileData}}"
             alt=""
             class="img-thumbnail">
        <button class="btn rounded-btn"  type="button" (click)="upload()">Upload</button>
    </div>
</div>
