

<!--<form [formGroup]="heroForm" #formDir="ngForm" >-->
      <!--<label for="name">Name</label>-->
    <!--<input id="name" class="form-control"-->
           <!--formControlName="name" required >-->

    <!--<div *ngIf="name.invalid && (name.dirty || name.touched)"-->
         <!--class="alert alert-danger">-->
    <!--</div>-->

<!--</form>-->
<div class="row">

<br />


    <form role="form" #profileForm="ngForm" (ngSubmit)="update(profileForm)">

        <!--<div class="form-group row">-->
            <!--<label for="example-text-input" class="col-2 col-form-label">Text</label>-->
            <!--<div class="col-10">-->
                <!--<input type="text" required class="form-control"-->
                       <!--[(ngModel)]="profile.vatNumber"-->
                       <!--name="ΑΦΜ"-->
                       <!--#afm="ngModel"-->
                       <!--forbiddenName="bob"-->
                       <!--class="form-control input-underline input-lg"-->
                       <!--id="example-text-input" placeholder="ΑΦΜ">-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
            <!--<label for="example-search-input" class="col-2 col-form-label">Search</label>-->
            <!--<div class="col-10">-->
                <!--<input class="form-control" type="search" value="How do I shoot web" id="example-search-input">-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-content">

            <div style="display:flex">
                <div class="form-group ">
                    <!--<label>firstName</label>-->
                    <!--<input type="text" #firstName="ngModel" required [(ngModel)]="profile.firstName" name="firstName"-->
                           <!--class="form-control input-underline input-lg" id="" placeholder="firstName">-->
                    <!--<div [hidden]="firstName.valid || firstName.pristine"-->
                    <!--class="alert alert-danger">-->
                        <!--firstName is required-->
                    <!--</div>-->
                    <md-form-field class="example-full-width">
                        <input #firstName="ngModel" required [(ngModel)]="profile.firstName" name="firstName" mdInput placeholder="Ονομα" value="">
                    </md-form-field>
                    <md-form-field class="example-full-width">
                        <input mdInput placeholder="Επίθετο"  required [(ngModel)]="profile.lastName" name="lastName" value="">
                    </md-form-field>
                </div>

                <!--<div class="form-group ">-->
                    <!--&lt;!&ndash;<label>Lastanem</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" required [(ngModel)]="profile.lastName" name="lastName"&ndash;&gt;-->
                           <!--&lt;!&ndash;class="form-control input-underline input-lg" id="" placeholder="lastName">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div [hidden]="password.valid || password.pristine"&ndash;&gt;-->
                    <!--&lt;!&ndash;class="alert alert-danger">&ndash;&gt;-->
                    <!--&lt;!&ndash;password is required&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<md-form-field class="example-full-width">-->
                        <!--<input mdInput placeholder="Επίθετο" value="">-->
                    <!--</md-form-field>-->
                <!--</div>-->
            </div>
            <div style="display:flex">
                <div class="form-group">
                    <md-form-field class="example-full-width">
                        <input   minlength="4"
                                 forbiddenName="bob"
                                 #vatNumber="ngModel"
                                 [(ngModel)]="profile.vatNumber"
                                 name="vatNumber"
                                 mdInput
                                 placeholder="ΑΦΜ"
                                 value="">
                    </md-form-field>
                    <md-form-field class="example-full-width">
                        <input mdInput
                               required [(ngModel)]="profile.amIKA" name="amIKA"
                               placeholder="ΑΜΚΑ" value="">
                    </md-form-field>
                    <!--<label>vatNumber:</label>-->
                    <!--<input type="text"-->
                           <!--minlength="4"-->
                           <!--forbiddenName="bob"-->
                           <!--#vatNumber="ngModel"-->
                           <!--required [(ngModel)]="profile.vatNumber" name="vatnumber"-->
                           <!--class="form-control input-underline input-lg" id="" placeholder="ΑΦΜ">-->
                    <!--<div [hidden]="username.valid || username.pristine"-->
                    <!--class="alert alert-danger">-->
                    <!--username is required-->
                    <!--</div>-->
                    <div class="alert alert-danger" *ngIf="vatNumber.valid">
                       Υπάρχει ήδη to αφμ
                    </div>
                </div>
                <div class="form-group">
                    <!--<label>amIKA:</label>-->
                    <!--<input type="text" required [(ngModel)]="profile.amIKA" name="amIKA"-->
                           <!--class="form-control input-underline input-lg" id="" placeholder="amIKA">-->
                    <!--<div [hidden]="password.valid || password.pristine"-->
                    <!--class="alert alert-danger">-->
                    <!--password is required-->
                    <!--</div>-->
                </div>
            </div>
            <div style="display:flex">
                <div class="form-group">
                    <md-form-field class="example-full-width">
                        <input mdInput [(ngModel)]="profile.guideNumber" name="guideNumber" placeholder="guideNumber" value="">
                    </md-form-field>
                    <md-form-field class="example-full-width">
                        <input mdInput placeholder="municipality" [(ngModel)]="profile.municipality"  name="municipality" value="">
                    </md-form-field>
                    <!--<label>Διεθυνση</label>-->
                    <!--<input type="text" required [(ngModel)]="profile.street" name="street"-->
                    <!--class="form-control input-underline input-lg"-->
                    <!--id="" placeholder="street">-->
                    <!--<div [hidden]="password.valid || password.pristine"-->
                    <!--class="alert alert-danger">-->
                    <!--password is required-->
                    <!--</div>-->
                </div>
                <!--<div class="form-group">-->
                <!--<label>Αριθμοs</label>-->
                <!--<input type="text" required [(ngModel)]="profile.streetNumber" name="lastName"-->
                <!--class="form-control input-underline input-lg" id="" placeholder="Αριθμός">-->
                <!--&lt;!&ndash;<div [hidden]="password.valid || password.pristine"&ndash;&gt;-->
                <!--&lt;!&ndash;class="alert alert-danger">&ndash;&gt;-->
                <!--&lt;!&ndash;password is required&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            </div>
            <div style="display:flex">
                <div class="form-group">
                    <md-form-field class="example-full-width">
                        <input mdInput [(ngModel)]="profile.street" name="street" placeholder="Διέθυνση" value="">
                    </md-form-field>
                    <md-form-field class="example-full-width">
                        <input mdInput [(ngModel)]="profile.streetNumber" placeholder="αρ." value="" name="d">
                    </md-form-field>
                    <!--<label>Διεθυνση</label>-->
                    <!--<input type="text" required [(ngModel)]="profile.street" name="street"-->
                           <!--class="form-control input-underline input-lg"-->
                           <!--id="" placeholder="street">-->
                    <!--<div [hidden]="password.valid || password.pristine"-->
                    <!--class="alert alert-danger">-->
                    <!--password is required-->
                    <!--</div>-->
                </div>
                <!--<div class="form-group">-->
                    <!--<label>Αριθμοs</label>-->
                    <!--<input type="text" required [(ngModel)]="profile.streetNumber" name="lastName"-->
                           <!--class="form-control input-underline input-lg" id="" placeholder="Αριθμός">-->
                    <!--&lt;!&ndash;<div [hidden]="password.valid || password.pristine"&ndash;&gt;-->
                    <!--&lt;!&ndash;class="alert alert-danger">&ndash;&gt;-->
                    <!--&lt;!&ndash;password is required&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            </div>
            <div style="display:flex">
                <div class="form-group">
                    <md-form-field class="example-full-width">
                        <input mdInput [(ngModel)]="profile.telephone" name="telephone" placeholder="telephone" value="">
                    </md-form-field>
                    <md-form-field class="example-full-width">
                        <input mdInput placeholder="amka" [(ngModel)]="profile.amka"  name="amka" value="">
                    </md-form-field>
                </div>

            </div>
        </div>
        <button md-button>ενημέρωση</button>
        <!--<button type="button" class="btn btn-default" (click)=" signupForm.reset()">New Hero</button>-->
        <button class="btn rounded-btn" type="submit"> Ενημέρωση</button>
        <!--<a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>-->
        &nbsp;
        <!--<a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>-->
    </form>
    <div [formGroup]="myGroup">

    </div>


    <div class="col-lg-6">

        <input type="file" class="" #fileInput placeholder="Upload file..."/>
        <!--<img  #imgRef [src]="'data:image/jpeg;base64' + avatarPreviewSrc" alt="" class="img-thumbnail">-->

        <img height="100" width="100" class="img rounded img-thumbnail" src="data:image/jpeg;base64,{{profile.avatar.fileData}}" alt="" class="img-thumbnail">

        <button class="btn rounded-btn"  type="button" (click)="upload()">Upload</button>

    </div>
</div>
<br />
<div class="card-block">
    <button class="btn btn-primary" (click)="open(content)">Large modal</button>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>
</div>
